{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="pb-2">{% trans "Sign In" %}</h1>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary btn-lg primaryAction" type="submit">{% trans "Sign In" %}</button>
  <a class="smol-link secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

<p class="pt-2">{% blocktrans %}Don't have an account? <a class="big-link" href="{{ signup_url }}">Sign up here.</a>{% endblocktrans %}</p>

{% endblock %}
