@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem; 
    margin: 0;
    padding: 0;
}

header { 
    border: none;
    margin: 0;
    padding: 0;
}

footer {
    border: none;
    margin: 0;
    padding: 0;
}

#super-container {
    min-height: calc(100vh - 13rem);
}

#splash {
    background: url('https://res.cloudinary.com/di9x4jslg/image/upload/v1680184012/static/images/splash.68d2ec5facf0.jpg') center;    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash-url {
    text-decoration: none;
}

#headline-container {
    height: 30rem;
}

#headline {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    color: #f1f1f1;
}

#about-container {
    height: 20rem;
}

#about-line {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #f1f1f1;
}

.nav-link {
    color: var(--bs-heading-color);
    text-decoration: none;
}

.nav-item {
    border-width: 2px;
}

.tab-title {
    font-size: 3rem;
    font-weight: 800;
}

.card-big {
    font-size: 2rem;
    font-weight: 800;
    color: #2d2d2d !important;
}

.card-mid {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-smol {
    font-size: 1.4rem;
    font-weight: 500;
}

#socials-container {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ebay-link {
    font-size: 2.5rem;
}

.socials-links {
    color: var(--bs-heading-color);
    text-decoration: none;
}

.smol-link {
    font-size: 1rem;
    color: var(--bs-heading-warning);

}

.big-link {
    font-size: 1.6rem;
    color: var(--bs-heading-warning);
}

.asteriskField {
    display: none;
}

.form-control {
    font-size: 1.6rem;
}

@media only screen and (min-width: 390px) {

    #headline {
        font-size: 8rem;
    }

}

@media only screen and (min-width: 767px) {

    #headline {
        font-size: 10rem;
    }

    #about-container {
        height: 17.5rem;
    }

}