html {
    font-size: 62.5%;
/*    scroll-behavior: smooth;*/
/*    scroll-padding-top: 8rem;*/
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(var(--background-color-black));
    font-size: 1.6rem; 
    margin: 0;
    padding: 0;
}

header { 
    border: none !important;
    margin: 0;
    padding: 0;
}

footer {
    border: none !important;
    margin: 0;
    padding: 0;
}

#super-container {
    min-height: calc(100vh - 13rem);
}

#splash {
    background: url(../media/splash.jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headline {
    height: 30rem;
}

.nav-link {
    color: var(--bs-heading-color);
    text-decoration: none;
}

.w-90 {
    width: 90%;
}

#socials-container {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials-links {
    color: var(--bs-heading-color);
    text-decoration: none;
}

.smol-link {
    font-size: 1rem;
    color: var(--bs-heading-warning);

}

.big-link {
    font-size: 1.6rem;
    color: var(--bs-heading-warning);

}