@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");

html {
    font-size: 62.5%;
/*    scroll-behavior: smooth;*/
/*    scroll-padding-top: 8rem;*/
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem; 
    margin: 0;
    padding: 0;
}

header { 
    border: none;
    margin: 0;
    padding: 0;
}

footer {
    border: none;
    margin: 0;
    padding: 0;
}

#super-container {
    min-height: calc(100vh - 13rem);
}

#splash {
    background: url(/media/splash.jpg) center;    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headline-container {
    height: 30rem;
}

#headline {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    color: #ffffff;
}

.nav-link {
    color: var(--bs-heading-color);
    text-decoration: none;
}

.w-90 {
    width: 90%;
}

.tab-title {
    font-size: 3rem;
    font-weight: 800;
}

.card-big {
    font-size: 2rem;
    font-weight: 800;
    color: #2d2d2d !important;
}

.card-mid {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-smol {
    font-size: 1.4rem;
    font-weight: 500;
}

#socials-container {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials-links {
    color: var(--bs-heading-color);
    text-decoration: none;
}

.smol-link {
    font-size: 1rem;
    color: var(--bs-heading-warning);

}

.big-link {
    font-size: 1.6rem;
    color: var(--bs-heading-warning);
}

@media only screen and (min-width: 390px) {

    #headline {
        font-size: 8rem;
    }

}

@media only screen and (min-width: 576px) {

    #headline {
        font-size: 10rem;
    }

}