{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'hardpark.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b55a0d10fe.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>The Hard Parkers</title>
</head>

<body>
  <div id="super-container">
    <!-- Header -->
    <header>
      <!-- Splash -->
      <div class="container">
        <div class="row justify-content-center">
          <div id="splash" class="col-12 col-sm-8">
            <div id="headline-container">
              <div>
                <h1 id="headline">HardParkers</h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Nav bar -->
      <div class="container pt-3">
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">All</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'your_events' %}active{% endif %}" href="{% url 'your_events' %}">Attending</a>
                </li>
                  {% if user.siteuser.event_organizer %}
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'event_org' %}active{% endif %}" href="{% url 'event_org' %}">Organized</a>
                  </li>
                  {% endif %}
                  {% if user.siteuser.site_owner %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'own_con_pan' %}">Owner Control Panel</a>
                  </li>
                  {% endif %}
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'account_logout' %}active{% endif %}" href="{% url 'account_logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}" href="{% url 'account_login' %}">Log In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}">Sign Up</a>
                </li>
                {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </header>

    <!-- Body -->
    <main>
      <div class="container pt-3">
        <div class="row justify-content-center">
          <div class="col-sm-8">
            {% block content %}

            {% endblock content %}
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- Footer with foot bar -->
  <footer>
    <div class="container pt-3">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <!--<div>
            <h2>Find us:</h2>
          </div>-->
          <div id="socials-container">
            <div>
              <a class="socials-links" href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Link to Instagram, opens in new tab."><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div>
              <a class="socials-links" href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Link to Twitter, opens in new tab."><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div>
              <a class="socials-links" href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Link to Facebook, opens in new tab."><i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <div>
              <a class="socials-links" href="https://www.TikTok.com/" target="_blank" rel="noopener" aria-label="Link to TikTok, opens in new tab."><i class="fa-brands fa-tiktok"></i></a>
            </div>
          </div>

          <hr>
          <figure>
              <blockquote class="blockquote text-center">
                <p>The main thing is not to park,<br class="d-md-none" /> but to park hard.</p>
              </blockquote>
              <figcaption class="blockquote-footer text-center">
                <cite title="Source Title">Socrates</cite>
              </figcaption>
            </figure>
        </div>
      </div>
    </div>
  </footer>

  <!-- Javascript -->
  <script>
    
  </script>  
</body>

</html>