{% extends "base.html" %}

{% block content %}

    <div class="container pt-3">
        <div class="row justify-content-center">
            <div class="col-sm-8 text-center">
                <p class="card-mid">Thank you, {{ user.username }}.</p>
                <p class="card-mid">You have permanently deleted this event.</p>
                <a class="btn btn-primary btn-lg" href="{% url 'event_org' %}">Events You Organized</a>
            </div>
        </div>
    </div>

{% endblock content %}