{% extends "base.html" %}

{% block content %}

    <div class="container pt-3">
        <div class="row justify-content-center">
            <div class="col-sm-8 text-center">
                <p class="card-mid">Are you sure you want to delete {{ event.event_name }}?</p>
                <p class="card-mid">THIS CANNOT BE UNDONE!</p>
                <div class="container">
                    <div class="row justify-content-center pt-3">
                        <div class="col-5 text-center">
                            <a class="btn btn-primary btn-lg" href="{% url 'event_org' %}">Take Me Back</a>
                        </div>
                        <div class="col-5 text-center">
                            <form action="{% url 'confirm_delete' event.event_name %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-warning btn-lg" type="submit">DELETE EVENT</button>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}