{% extends "base.html" %}

{% block content %}

<section>
    <div class="card w-90 text-center">
        <h2>You Organized All These, You Only Have You To Blame</h2>
        {% for event in event_list %}
        <div class="card w-90 text-center" >
            <div class="card-body">
                <h5 class="card-title">{{ event.event_name }}</h2>
                <h6>{{ event.event_location }}</h6>
                <p>{{ event.event_date }}</p>
                <p>Registration closes {{ event.event_date_reg_close }}</p>
                <a href="{% url 'event_view' event.event_name %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'event_delete' event.event_name %}" class="btn btn-primary">Delete</a>
            </div>
        </div>
        {% endfor %}
    <a href="{% url 'event_edit' %}" class="btn btn-primary">Create New Event</a>
    </div>
</section>

{% endblock content %}