{% extends "base.html" %}

{% block content %}

    <section>
        <div class="container text-center">
            <h2 class="tab-title mb-3">Organized Events</h2>
            <div class="container">
                {% for event in event_list %}
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title card-big">{{ event.event_name }}</h3>
                        <h4 class="card-mid mt-2">{{ event.event_location }}</h4>
                        <p class="card-smol mt-2">{{ event.event_date }}</p>
                        <p class="card-smol mt-2">Registration closes {{ event.event_date_reg_close }}</p>
                        <a class="btn btn-primary btn-lg mt-2" href="{% url 'attendees' event.event_name %}" target="_blank">Attendee List</a>
                        <a class="btn btn-primary btn-lg mt-2" href="{% url 'event_edit' event.event_name %}">Edit</a>
                        <a class="btn btn-primary btn-lg mt-2" href="{% url 'event_delete' event.event_name %}">Delete</a>
                    </div>
                </div>
                {% endfor %}
                <div class="card text-center mt-3">
                    <div class="card-body">
                        <h3 class="card-title card-big">Ready to organize a new event?</h3>
                        <a class="btn btn-secondary btn-lg mt-3" href="{% url 'event_create' %}">Create Event</a>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock content %}